<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	
	<context-param>
		<param-name>org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.CONFIG_FILES</param-name>
		<param-value>/WEB-INF/chcoa-faces-config.xml,/WEB-INF/chfaces-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/custom-taglib.xml;/WEB-INF/chfaces-taglib.xml</param-value>
	</context-param>
	<context-param>
		<description> Set this flag to true if you want the JavaServer Faces
			Reference Implementation to validate the XML in your faces-config.xml
			resources against the DTD. Default value is false. </description>
		<param-name>com.sun.faces.validateXml</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>chservice.applicationContextPath</param-name>
		<param-value>chs.apps.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.chservice.action.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- CAS -->
	<context-param> 
        <param-name>casServerUrlPrefix</param-name> 
        <param-value>http://www.ch-service.com:8088/cas/</param-value> 
    </context-param> 
    <context-param> 
        <param-name>serverName</param-name> 
        <param-value>/</param-value> 
    </context-param> 
	<filter>
		<filter-name>CHS SSO Authentication</filter-name>
		<filter-class>com.chcommon.sso.ChsCasAuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CHS SSO Validation</filter-name>
		<filter-class>com.chcommon.sso.ChsCasValidationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CAS SingleSignOutFilter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CHS SSO Authentication</filter-name>
		<url-pattern>/views/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CHS SSO Validation</filter-name>
		<url-pattern>/views/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS SingleSignOutFilter</filter-name>
		<url-pattern>/views/logout/*</url-pattern>
	</filter-mapping>
	<!-- END CAS -->
	
	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
